@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');

body{
    font-family: "Mitr",sans-serif;
}

/* -----------------HEADER---------------------- */
.Header{
    height: 450px;
    display: flex;
    justify-content: space-between;
    background-image: url(/asset/img/banner-1.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right;
    background-color: #fff4f2;
}

.Header-Left{
    width: 580px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.Header-Left>.Pages{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header-Left>.Pages>a {
    color: #4d312c;
    font-weight: 600;
    font-size: 16px;
    transition: all .3s ease-out 0s;
    text-decoration: none;
}

.Header-Left>.Pages>a:hover {
    color: #fe5f41;
    text-decoration: underline;
}

.Content{
    padding-top: 50px;
    padding-left: 70px;
}

.Content>h1{
    font-size: 64px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 1.2;
}

.Content>p{
    font-size: 20px;
}

.Header-right{
    margin-right: 30px;
    display: flex;
    align-items: flex-start;
}

.Header-btn1{
    margin-top: 20px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    transition: all .3s ease-out 0s;
}

.Header-btn2{
    margin-top: 10px;
    margin-left: 20px;
    background-color: #fe5f41;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 30px;
    padding: 15px 35px;
    border: none;
    display: flex;
    align-items: center;
}

.Header-btn1:hover{
    color: #fe5f41 !important;
}

/* -----------------menu LIST---------------------- */
.main-content{
    padding: 0;
    margin: 0;
}

.main-content>.main-content_header{
    border-bottom: 1px solid;
    display: flex;
    justify-content: space-between;
}

.main-content>.main-content_header>.right{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.main-content>.main-content_header>.right>a{
    font-family: "Mitr",sans-serif;
    color: #94817E;
    font-size: 18px;
    font-weight: 500;
    border: 0;
    padding: 17px 5px;
    border-bottom: 4px solid transparent;
    margin-right: 43px;
}

.main-content>.main-content_header>.right>a:hover{
    color: #fe5f41;
}

.main-content>.main-content_header>.right>a.active{
    border-bottom: 4px solid;
    color: #fe5f41;
}

.main-content>.main-content_header>.search{
    font-size: 20px;
    width: 400px;
    padding: 10px;
    margin: 10px;
    border-radius: 40px;
    border-color: #fae8e5;
}

.main-content>.menu{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-content>.menu>.food{
    margin-bottom: 30px;
    height: 400px;
    width: 370px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #fae8e5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main-content>.menu>.food:hover{
    box-shadow: 5px 15px 20px #fff4f2;
}

.main-content>.menu>.food>img{
    width: 50%;
    object-fit: cover;
}

.main-content>.menu>.food>.name{
    font-size: 30px;
    font-weight: 700;
}

.main-content>.menu>.food>.describe{
    width: 270px;
    text-align: center;
    font-size: 15px;
}

.main-content>.menu>.food>a{
    font-size: 18px;
    font-weight: 700;
    color: red;
}

/* -----------------food DETAIL---------------------- */
.main-content>.hiden-div{
    display: none;
}

.main-content>.food-detail{
    margin:auto;
}
.main-content .food-detail .img-product img{
    width: 100% !important; 
    padding: 20px;
}
.img-product{
    width: 40%;
}
.main-content>.food-detail>.food{
    height: auto;
    display: flex;
    justify-content: space-between;
    
}

.main-content>.food-detail>.food>.right{
    display: flex;
    align-items: center;
    width: 60%;
}

.main-content>.food-detail>.food>.right>div{
    width: 100%;
}

.main-content>.food-detail>.food>.right>div>.name{
    font-size: 40px;
    font-weight: 700;
}

.main-content>.food-detail>.food>.right>div>.describe{
    font-size: 20px;
    margin-bottom: 40px;
}
.main-content>.food-detail>.food>.right>div>.numbering{
    color: red;
}
.main-content>.food-detail>.food>.right>div>button{
    width: 300px;
    padding: 10px 30px;
    background-color: #fe5f41;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #0000;
}
.main-content>.food-detail>.food>.right>div>button a{
    color: #fff !important;
    font-size: 20px;
}

/* -----------------footer---------------------- */
.BannerFooter{
    margin-top: 100px;
    display: flex;
}

.BannerFooter>img{
    width: auto;
    max-width: 25%;
}

.footer{
    height: 340px;
    padding: 80px 80px;
    background-color: #fff4f2;
    display: flex;
    justify-content: space-between;
}

.footer>.collum1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 420px;
}

.footer>.collum1>img{
    width: 222px;
}

.footer>.collum1>p{
    color: #5e5e5e;
    font-size: 16px;
    line-height: 1.8;
    font-family: "Raleway",sans-serif;
}

.footer>.collum2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
}

.footer>.collum2>div>a{
    color: #5e5e5e;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}

.footer>.collum2>div>a:hover {
    color: #fe5f41;
    text-decoration: underline;
}

.footer>.collum3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 330px;
    height: 200px;
}

h1{
    color: #000;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
}

.footer>.collum3>div>.phone1{
    font-size: 24px!important;
    color: #fe5f41!important;
    font-weight: 400!important;
    font-family: "Raleway",sans-serif;
}

.footer>.collum3>div>.phone2{
    font-family: "Raleway",sans-serif;
    font-size: 14px!important;
    color: #fe5f41!important;
}